.screachWrapper{
    height: 18%;
    width: 90%;

    background-color: rgba(66, 68, 68, 1);

    border-radius: 8px;

    margin: 0 auto 1rem auto;
}
    .search{
        width: 100%;
        height: 100%;

        background-color: rgba(66, 68, 68, 1);
        background: url("../../../assets/icons/search.svg");
        background-position-x: 10px;
        background-position-y: center;
        background-repeat: no-repeat;
        
        border-radius: 8px;
        border: 0px;  
    }
    .search::placeholder{
        padding-left: 50px;
        color:rgba(192, 191, 189, 1);
    }