.punkt{
    display: flex;
    justify-content: space-around;
    height: 6%;
    width: 90%;

    margin: 10% auto;
    padding: 10px auto;
}

.textWrapper{
    display: flex;
    align-items: center;
    width: 70%;
}
    .textWrapper h3{
        font-weight: 400;       
    }