.leftProfileContainer{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 90%;
    margin: 1rem auto 0 auto;
}

.infoWrapper{
    width: 70%;
}
    .infoWrapper h5{
        font-weight: 400;
        font-size: 14px;
    }