.leftBar{
    display: grid;
    align-content: space-between;

    width: 250px;
    height: fit-content;

    margin-left: -250px;
    transition: all 1s;
}

.positions{
    margin-top: 0px;
}

.bottomMenu{
    align-self: flex-end;
}