.switchWrapper{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

    .switchInput{
        height: 0;
        width: 0;
        opacity: 0;
    }
    .switchInput:checked + .switchSlider::before{
        transition: all 1s;
        transform: translateX(13px);
        background-color: rgba(30, 32, 32, 1);
    }
    .switchSlider{
        position: absolute;
        cursor: pointer;
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;

        border-radius: 8px;
        background-color:rgba(66, 68, 68, 1);
    }

        .switchSlider::before{
            content: "";
            position: absolute;
            cursor: pointer;
            height: 16px;
            width: 16px;
            bottom: 2px;
            left: 2px;

            transition: all 1s;
            border-radius: 50%;
            background-color: rgba(66, 68, 68, 1);
            background: url(../../../../assets/icons/moon.svg);

            background-repeat: no-repeat;
            background-position: center;
        }