.rightBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90px;
    height: 10rem;
    margin-right: -90px;

    transition: all 1s;
}
    .r_profileImgWrapper{
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 1rem;
    }
    .r_position{
        height: 280px;
        margin: 20% auto 8% auto;
    }
        .r_screachWrapper{
            height: 18%;
            width: 60%;
            margin-bottom: 20px;
        }
            .r_search{
                background-position: center;
            }
        .r_icon{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1.5rem auto;
            width: 90%;
        }
        .r_icon img{
            width: 25%;
        }
    .r_bottomMenu{
        display: flex;
        flex-direction: column;
        align-items: center;

        align-self: auto;
        margin: 0;
    }
        .r_switchWrapper{
            width: 34px;
            margin: 0 auto 25% auto;
        }
