@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color:rgba(192, 191, 189, 1);
}

.bar{
    background-color: rgba(36, 38, 37, 1);
    height: 100vh;
}

.area{
    position: absolute;
    height: 100vh;
}

.left_area:hover + .leftBar{
    transition: all 1s;
    margin-left: 0;
}
    .leftBar:hover{
        margin-left: 0;
    }

.right_area:hover + .rightBar{
    transition: all 1s;
    margin-right: 0;
}
    .rightBar:hover{
        margin-right: 0;
    }


.left_area{
    width: 250px;   
    left: 0;
    top: 0;
    bottom: 0;
}

.right_area{
    width: 90px;
    right: 0;
    top: 0;
    bottom: 0;
}

.one{
    position: relative;
    display:flex;
    justify-content: space-between;
}

.anim:hover,.r_icon>img:hover{
    transform: scale(1.2);
    border-radius: 3px;
}