
.form-wrapper, .edit-form-wrapper{
    display: none;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-color: rgb(233, 225, 18);
    border-radius: 3px;

    min-height: 3rem;
    height: fit-content;
    width: 13rem;

    top: 10rem;
    left: 50%;

    transform: translate(-50%);
}
.edit-form-wrapper{
    background-color: rgb(18, 29, 233);
}

.visible{
    display: flex;
}
.crossed{
    text-decoration: line-through;
}

    .creat-note-text, .edit-note-text{
        width: 60%;
        min-height: 1.5rem;
        height: fit-content;

        background-color: azure;

        margin: 5px 0;

        border-radius: 8px;
    }

    .save-img, .editFC{
        cursor: pointer;
        background-color: rgba(32, 31, 33, 0);
        border: none;
        font-size: 2rem;
    }

.notes-wrapper{
    height: fit-content;
    width: 70%;

    margin: auto;
}
    .note-wrapper{
        display: flex;
        justify-content: space-between;

        border: 1px rgb(20, 111, 32) solid;
        height: fit-content;

        margin: 5px 5px;
    }

    .note-text{
        display: flex;
        flex-wrap: wrap;

        height: 4rem;
        width: 70%;

        overflow-y: auto;
        overflow-x: hidden;

        background-color: rgba(146, 143, 123, 0.422);
        border: 1px solid black;
        border-radius: 3px;
    }